.chat-header {
    background: #ea4321;
    background: -moz-linear-gradient(left, #ea4321 0%, #fc5200 100%);
    background: -webkit-linear-gradient(left, #ea4321 0%, #fc5200 100%);
    background: linear-gradient(to right, #ea4321 0%, #fc5200 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea4321', endColorstr='#fc5200',GradientType=1 );
    height: var(--header-height);
}

.chat-container {
    /* background-color: #ececec; */
    height: calc(90vh - var(--header-height));
}

.header-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    /* border: thin solid */
}

.arrow-icon {
    cursor: pointer;
}

.arrow-icon i {
    color: white;
    font-size: 1.7rem;
}

.left-section {
    display: flex;
    flex: 1;
    /* align-items: center; */
    /* border: thin solid; */
}

.menu-icon {
    cursor: pointer;
}

.menu-icon i {
    color: white;
    font-size: 1.2rem;
}
