.tabs-container {
  background: rgb(255, 76, 21);
  background: var(--main-gradient);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 5px var(--gray-shadow-color);
  margin-bottom: 15px;
  padding: 10px;
  border-bottom-left-radius: 50% 25%;
  border-bottom-right-radius: 50% 25%;
}

.tab {
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  cursor: pointer;
  margin: 0 10px;
}

.active {
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 15px;
}
